* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  height: 100px;
  background-color: #0d0a0b;
  color: #f3eff5;

  display: flex;
  justify-content: start;
  padding-left: 10px;
  align-items: center;

  font-weight: 900;
  font-size: 45px;

  border-bottom: 1px solid #f3eff5;
}

.container {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: #0d0a0b;
  height: 100%;
  padding-inline: 10px;

  display: flex;
  flex-direction: column;
}

.content {
  background-color: #454955;
  height: 100%;
  width: 100%;

  display: flex;
  flex: 1;

  align-items: stretch;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  scrollbar-color: #454545 #000;
}

/* sidebar */

.homeSection,
.projectSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.projectSection {
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebarHeader {
  color: #f3eff5;
  border-bottom: 1px solid #f3eff5;
  margin-bottom: 8px;
  padding-bottom: 2px;
}

.newProjectButton {
  all: unset;
  width: 100%;
  grid-column: 1/3;
}

.title,
.newProjectButton {
  color: #f3eff5;
  /* font-size: 1.4em; */
  font-size: 1.4rem;
  height: 2.7rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.title:hover,
.newProjectButton:hover {
  background-color: #283618;
  text-decoration: underline;
}

/* dialog */

dialog {
  background-color: #f3eff5;
  width: clamp(400px, 20%, 500px);
  height: 60%;
}

form {
  display: flex;
  flex-direction: column;
}

#dialog::backdrop {
  background-color: #606c3880;
}

.contentTitle {
  width: 100%;
  height: 70px;

  font-size: clamp(20px, 3rem, 5vw);
  color: #f3eff5;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8px;
}

.card,
.tasksFormContainer {
  width: min(80%, 60ch);
  font-size: 2em;
  /* background-color: #343a40; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;

  min-width: 0;
}

.tasksFormContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.tasksForm {
  margin: 10px;
  padding: 10px;
}

#submitTask {
  all: unset;
  background-color: #a7c957;
  grid-row: 2/3;
  grid-column: 1/6;
}

#cancelTask {
  all: unset;
  background-color: #bc4749;
  grid-row: 2/3;
  grid-column: 6/-1;
  width: calc(100% - 20px);
  justify-self: end;
}

#submitTask,
#cancelTask {
  cursor: pointer;
  text-align: center;
}

#inputTaskName,
#cancelTask,
#submitTask {
  font-size: clamp(20px, 2rem, 5vw);
}

#inputTaskName {
  grid-row: 1/2;
  grid-column: 1/10;
}

#inputDate:hover {
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
}

.card:hover i {
  display: block;
}

i {
  size: 2rem;
}

.icon {
  cursor: pointer;
}

.taskDiv {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: clamp(20px, 2rem, 5vw);

  margin-left: 5px;

  color: #f3eff5;
}

.dueDateDiv {
  width: 150px;

  font-size: clamp(20px, 1.4rem, 5vw);

  color: #f3eff5;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.card:hover {
  border: 1px solid black;
}

.addTasksButton {
  all: unset;
  padding-inline: 10px;

  width: min(80%, 60ch);

  box-sizing: border-box;

  font-weight: 800;
  height: 2em;
  font-size: clamp(20px, min(2em, 5vw), 5vw);
  border-radius: 8px;
  color: #f3eff5;
  background-color: #454955;

  cursor: pointer;
}

.addTasksButton:hover {
  border: 2px #343a40 solid;
  background-color: #343a40;
}

/* submit project name */

.extentedDiv {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 8px;
}

#inputProjectName {
  width: 100%;
  font-size: 1.4em;

  grid-row: 1/2;
  grid-column: 1/3;
}
#submitForm {
  all: unset;
  background-color: #a7c957;
  grid-column: 1/2;
  grid-row: 2/3;
}

#closeForm {
  all: unset;
  background-color: #bc4749;
  grid-column: 2/3;
  grid-row: 2/3;
}

#closeForm,
#submitForm {
  text-align: center;

  font-size: 1.5em;
  font-weight: 500;

  width: 100%;

  cursor: pointer;

  border-radius: 4px;
}
